body{
	font-family: 'NanumGothic', 'sans-serif';
}
/* start header */
header{
	width: 100%;
	height: 171px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}
#header-background{
	width: 100%;
	min-height: 171px;
	max-height: auto;
	margin: 0px;
	background-image:  linear-gradient(to top, #000 , #fff);
	opacity: 12%;
} 
#header-content{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0px; 
	padding-top: 30px;
} 
#logo h2{
	font-size: 24px;
	font-family: "Montserrat Subrayada", sans-serif !important;
	font-weight: bold;
	display: inline-block;
	background-color: #C64B60;
	margin: 0px;
}

#logo p{
	font-size: 8pt;
}
.navs{
	font-size: 14px;
	padding-left: 3px;
}
.main-menu,.sub-menu,.archive-menu{
	background-color: #C64B60;
	color: #fff;
	width: 230px;
	font-size: 14px;
	display: none;
	z-index: 500;
	margin-top: 5px;
}
.sub-menu{
	position: absolute;
	top: 25px;
	margin-left: 230px;
	z-index: 1000;
}
.sub-menu2{
	position: absolute;
	top: -5px;
}
.tow-side{
	width: 420px;
	columns: 2;
}
.tow-side a{
	padding-left: 10px; 
}
.main-menu li,.sub-menu li, .archive-menu li{
	height: 50px;
	padding: 13px;
}
.main-menu a,.archive-menu li a{
	color: #fff;
}
a:hover{
	text-decoration: none;
}
.back{
	background-color: #9E1847;
}
.back a{
	padding-left: 0;
}
.main-menu li:hover,.sub-menu li:hover,.archive-menu li:hover{
	color:#fff;
	background-color: #9E1847;
} 
.lng{
	font-weight: bold;
}
header .but{
	border:2px solid #dbb483;
	text-align: center;
	width: 100px;
	padding: 0px 5px;
	margin-top: 10px;
	font-size: 14px;
}
.register-but a{
	color: #000;
}
.profile{
	font-size: 11px;
	text-align: center;
}
.circle{
	width: 65px;
	height: 65px;
	background-color: #000;
	border-radius: 50%;
	margin-left: 70px;
} 
.openNav, .closebtn{
	display: none;
}
@media screen and (min-width: 992px) and (max-width: 1313px){
	#logo h2{
		font-size: 20px;
	}
	.navbar-nav{
		margin-left: -3%;
	}
	.navs{
		font-size: 11px;
	}
	.right-arrow{
		width: 10px;
	}
	.main-menu,.sub-menu{
		background-color: #C64B60;
		color: #fff;
		width: 180px;
		font-size: 11px;
		display: none;
		z-index: 500;
		margin-top: 5px;
	}
	.sub-menu{
		position: absolute;
		top: 20px;
		margin-left: 180px;
	}
	.sub-menu2{
		position: absolute;
		top: -5px;
	}
	.tow-side{
		width: 360px;
	}
	header .but{
		font-size: 12px;
		width: 90px;
		margin-top: 10px;

	}
	.circle{
		width: 50px;
		height: 50px;
		margin-left: 50px;
	} 
}  
@media screen and (max-width: 991px) {
	.openNav, .closebtn{
		display: inline-block;
		font-size:20px;
		width: 90%;
		text-align: right;
	}
	.sidenav{
		display: none;
		height: 100%;
		width: 0;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #9E1847;
		transition: 0.5s;
		padding-top: 60px;
		overflow-y: auto;

	}
	header .navs{
		font-size: 20px;
		color: #fff;
		position: relative;
		top: 120px;
		text-align: center;
		padding: 10px 0px;		
	}
	header .main-menu, header.sub-menu{
		width: 100%;
		font-size: 18px;
		margin-top: 5px;
		margin-left: 0px;
		text-align: center;
	}  
	 header .sub-menu{
		width: 100%;
		font-size: 18px;
		margin-left: 0px;
		margin-top: 38px;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 1000;
	}
	header .sub-menu2{
		margin-top: 0px;
	}
	header .tow-side{
		width: 100%;
	}
	.closebtn{
		color: #dbb483;
		font-size: 30px;
		font-weight: bold;
		position: absolute;
		top: 0px;
	}
	.closebtn:hover{
		text-decoration: none;
		color: #fff;
	}
	.profile{
		position: absolute;
		top:50px;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
	}
	.profile p{
		position: absolute;
		top:70px;
	}
	.profile .circle{
		position: relative;
		right: 30px;
	} 
	.register-div{
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		position: absolute;
 	    top: 130px;
	}
}
@media screen and (max-width: 575px) {
	.openNav{
		position: absolute;
		top: 30px; 
	}
}
/* end header */
.side_title, .main-title{
	color: #c64b60;
	font-size: 24px;
}
.divider hr{
	border: 2px solid;
	border-color: #dbb483;
	width: 24px;
	padding-left: 0;
	margin-left: 2px;
}
ul{
	list-style-type: none;
	font-size: 17px;
	margin-left: 2px;
	padding-left: 0px;
}
.left-side-menu a{
	color: #8C8C8C;
}
.left-side-menu a:hover{
	color: #c64b60;
}
.archive-menu a:hover{
	color: #fff;
}
.archive-menu{
	top: 180px; 
	margin-left: 100px;
} 
.main-title{
	font-size: 34px;
}
.sub-title{
	font-size: 13px;
}
@media screen and (max-width: 768px) {
	.main-title{
		font-size: 26px;
	}
	.sub-title{
		font-size: 11px;
	}
}
.slider{
	display: none;
}
.slider:first-child{
	display: block;
}
.slider img{
	width: 100%;
}
.prev,.next{
	position: absolute;
	top: 45%;
	width:auto;
	padding: 5px;
	background-color: #c64b60;
	z-index: 10;
}
.next,.next2 {
	right: 15px;
}
.prev:hover,.next:hover {
	background-color: #8C8C8C;
}
.columns img{
	width: 100%;
	border-radius: 2%;
	box-shadow: 1px -1px 1px #8C8C8C;
	opacity: 0.9;
}
.columns img:hover{
	box-shadow: 3px 3px 3px #8C8C8C;
	opacity: 1;
}
.cursor {
	cursor: pointer;
}
.prev2,.next2{
	position: absolute;
	bottom: 4%;
	width:auto;
	padding: 2px;
	background-color: #c64b60;
	z-index: 10;
}
.prev2{
	left: 15px;
}
@media screen and (max-width: 768px) {
	.prev2,.next2{
		width: 12px;
		height: 5%;
		bottom: 2%;
	}  
	.prev2 img,.next2 img{
		width: 100%;
		padding-bottom: 10px;
	}
}
/* start footer */
footer{
	background-color: #c64b60;
	width: 100%;
	font-size: 16px;
	color: #fff;
	padding-bottom: 10px;
}
.footer_menu_title{
	font-size: 20px;
	color: #dbb483;
	margin-top: 25px;
}
footer .divider hr{
	border: 1px solid #dbb483;
	margin-left: 0;
	margin-top: 5px;
}
footer li{
	padding-top: 8px;
}
footer a,#copyright{
	color: #fff;
	font-size: 14px;
}
footer a:hover{
	color: #dbb483;
}
footer .archive-menu{
	top: 200px; 
} 
.but{
	border: 1px solid #dbb483;
	width: 140px;
	padding: 5px;
	margin-top: 25px;
}
#social_icon a{
	font-size: 24px;
	margin-left: 18px;
}
.info{
	font-size: 16px;
	text-align: center;
	margin-right: 25px;
	margin-left: 25px;
}
.info img{
	width: 40px;
}
.divider-y{
	border: 1px solid #fff;
	height: 20px;
	margin-top: 2px;
}
@media screen and (min-width: 992px) and (max-width: 1313px){
	.footer_menu_title{
		font-size: 18px;
		margin-top: 15px;
	}
	footer a{
		font-size: 14px;
	}
	.info{
		font-size: 14px;
		margin-right: 20px;
		margin-left: 20px;
	}
	.info img{
		width: 30px;
	}
} 
@media screen and (max-width: 768px) {
	.info{
		font-size: 12px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.divider-y{
		height: 15px;
	}
	.info{
		font-size: 14px;
		margin-right: 20px;
		margin-left: 20px;
	}
	.info img{
		width: 30px;
	}
}